#background-container{
    position: relative;
    text-align: center;
    color: white;
}

#centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2vw;
}

#name{
    font-size: 4vw;
    
}